@import "../../scss/utils";

.Slogan-background {
  background: #FEC300 url("/images/bg-small.png") no-repeat center;
  position: relative;
  margin-top: 120px + 90px;
  margin-bottom: 120px;

  @include sm {
    height: 140px;
    margin-top: 90px;
    margin-bottom: 60px;
  }

  @include md {
    height: 320px;
  }

  @include lg {
    height: 390px;
  }
}

.Slogan-wrap {
  position: absolute;
  bottom: -3px;
  width: 100%;

  @include sm {
    //width: 80%;
    position: relative;
  }
}

.Slogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slogan-girl {
  width: 144px;

  @include sm {
    display: none;
    width: 100px;
  }

  @include md {
    width: 230px;
  }

  @include lg {
    width: 300px;
  }
}

.slogan-info {
  margin-top: 60px;

  @include sm {
    margin-left: 15px;
    margin-top: 30px;
  }
}

.slogan-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 110.84%;
  color: #13151A;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 40px;
  }
}

.slogan-bottom {
  display: flex;
  color: $gray-light;
  justify-content: space-between;

  a {
    text-decoration: none;
    padding-top: 40px;
    padding-right: 15px;
  }

  @include sm {
    padding-top: 10px;

    a {
      padding-top: 0;
      padding-right: 10px;
    }

    img {
      width: 80px;
    }
  }
}

.unstoppable-girl {
  max-width: 600px;
  width: 100%;

  @include sm {
    width: 100px;
  }
}
