@import "../../scss/utils";

.Button {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  padding: 10px 24px;
  border: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: white;

  @include sm {
    justify-content: center;
  }

  svg {
    padding-right: 8px;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: $light-steal;
    background: $grey-light;
    cursor: not-allowed;
  }
}

.Button-bordered {
  border: 1px solid $grey-light;
}

.Button-circle {
  border-radius: 40px;
}

.Button-no-padding {
  padding: 0;
}

.Button-circle-yellow {
  border: 1px solid $yellow-d;
  background: $yellow-d;
  color: $dark;

  path {
    fill: white;
  }
}

.Button-yellow {
  background: $yellow-d;
  color: $dark;

  &:enabled:hover {
    background: lighten($yellow-d, 2%);
  }
}

.Button-grey {
  background: $grey;
  color: $dark;

  &:enabled:hover {
    background: lighten($grey, 2%);
  }
}

.Button--loading {
  display: none;
  opacity: 0.6;
  cursor: not-allowed;
}
