@import "../../scss/utils";

.Highlights {
  color: white;
  display: flex;
  padding: 60px 0;
  margin: 0 -10px;
  justify-content: center;

  .highlight {
    background: #13151A;
    border-radius: 20px;
    padding: 32px 40px 60px;
    margin: 10px;
    width: 100%;

    @include sm {
      width: auto;
    }
  }

  .highlight-title {
    font-weight: 800;
    font-size: 34px;
  }

  .highlight-info {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;

    @include sm {
      display: block;
    }
  }

  .highlight-list {
    padding-right: 40px;
  }

  .highlight-list ul {
    padding: 0;
    margin: 22px 0 0;
    list-style: none;

    .list-style {
      padding-right: 20px;
    }

    li {
      display: flex;
      padding: 5px 0;
    }
  }

  @include sm {
    flex-direction: column;

    .highlight-title {
      font-size: 24px;
    }
  }
}
