@import "../../scss/utils";

.List {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin-right: 20px;
  }

  > div:last-child {
    margin-right: 0
  }

  @include sm {
    flex-direction: column;
    width: 100%;

    > div {
      margin: 0 0 16px;
    }
  }
}
