
.bg-hero {
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(/images/gradients/hero.svg) no-repeat top right;
  padding-top: 80px;
}

.partner-image {
  width: 100%;
  max-width: 220px;
  max-height: 80px;
  margin: 16px 4px;
}
