
.bg-hero {
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(/images/gradients/hero.svg) no-repeat top right;
  padding-top: 80px;
}

.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  /*position: fixed;*/
  /*bottom: 0;*/
  height: 3.5rem;
}

.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 20s linear infinite;
}

.ticker-item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2rem;
  color: black;
  font-weight: 800;
  font-family: sans-serif;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0;
  }
  50.01%,
  100% {
    left: 100%;
  }
}
