
<div class="currency-list">
  <div class="currency-list-title">Supported Cryptocurrencies</div>
  <ul>
    <li>0x <span>(ZRX)</span></li>
    <li>Aelf <span>(ELF)</span></li>
    <li>Ankr Network <span>(ANKR)</span></li>
    <li>Aurora DAO <span>(AURA)</span></li>
    <li>Bancor <span>(BNT)</span></li>
    <li>Basic Attention Token <span>(BAT)</span></li>
    <li>Binance Coin <span>(BNB-ERC20)</span></li>
    <li>Binance Chain <span>(BNB)</span></li>
    <li>Bitcoin BEP2 <span>(BTCB)</span></li>
    <li>Bitcoin <span>(BTC)</span></li>
    <li>Bitcoin Cash <span>(BCH)</span></li>
    <li>Cashaa <span>(CAS)</span></li>
    <li>ChainLink <span>(LINK)</span></li>
    <li>Crypterium <span>(CRPT)</span></li>
    <li>Crypto.com <span>(MCO)</span></li>

    <li>Crypto.com Chain <span>(CRO)</span></li>
    <li>Dai <span>(DAI)</span></li>
    <li>Dash <span>(DASH)</span></li>
    <li>Decentraland <span>(MANA)</span></li>
    <li>Digix DAO <span>(DGD)</span></li>
    <li>Digix Gold <span>(DGX)</span></li>
    <li>Enjin <span>(ENJ)</span></li>
    <li>EOS <span>(EOS)</span></li>
    <li>EOSDT <span>(EOSDT)</span></li>
    <li>Ethereum <span>(ETH)</span></li>
    <li>Everipedia <span>(IQ)</span></li>
    <li>Gemini Dollar <span>(GUSD)</span></li>
    <li>Gifto <span>(GTO)</span></li>
    <li>Golem <span>(GNT)</span></li>
    <li>Holo <span>(HOT)</span></li>

    <li>Huobi Token <span>(HT)</span></li>
    <li>IDEX Membership <span>(IDXM)</span></li>
    <li>IDEX Token <span>(IDEX)</span></li>
    <li>KuCoin Shares <span>(KCS)</span></li>
    <li>Kyber Network <span>(KNC)</span></li>
    <li>Loom <span>(LOOM)</span></li>
    <li>Loopring <span>(LRC)</span></li>
    <li>Maker <span>(MKR)</span></li>
    <li>MEET.ONE <span>(MEETONE)</span></li>
    <li>Mithril <span>(MITH)</span></li>
    <li>Native Utility Token <span>(NUT)</span></li>
    <li>Newdex <span>(NDX</span></li>
    <li>Nexo <span>(NEXO)</span></li>
    <li>OmiseGo <span>(OMG)</span></li>
    <li>Orbs <span>(ORBS)</span></li>

    <li>Paxos Sandart <span>(PAX)</span></li>
    <li>Paytomat <span>(PTI)</span></li>
    <li>Polymath <span>(POLY)</span></li>
    <li>Populous <span>(PPT)</span></li>
    <li>Prospectors Gold <span>(PGL)</span></li>
    <li>Pundi X <span>(NPXS)</span></li>
    <li>Reputation (Augur)<span>(REP)</span></li>
    <li>Revain <span>(R)</span></li>
    <li>STASIS EURS <span>(EURS)</span></li>
    <li>Status <span>(SNT)</span></li>
    <li>Tether USD <span>(USDT)</span></li>
    <li>TrueUSD <span>(TUSD)</span></li>
    <li>USD Coin <span>(USDC)</span></li>
    <li>Walton <span>(WTC)</span></li>
    <li>Wax Token <span>(WAX)</span></li>
    <li>Ziliqa <span>(ZIL)</span></li>

  </ul>
</div>
