<div class="easy-steps">
  <div class="steps-wrap">
    <div class="step-screens">
      <img class="app-screens-bg" alt="Wallet" src="/assets/images/iphone/ellipse.png"/>
      <img class="app-screens" src="/assets/images/iphone/phone-screens.png" alt="App Screens">
    </div>
    <div class="steps">
      <div class="steps-head">
        Your doorway to become Unstoppable
      </div>
      <ul class="steps-list">
        <li>Can’t be Blocked</li>
        <li>Can’t be Shut Down</li>
        <li>100% Under Your Control</li>
      </ul>
      <div class="steps-footer">
        Unstoppable is <a href="https://github.com/horizontalsystems" target="_blank">open source.</a> It's fully
        decentralized. Designed to detail and build by gifted engineers.
      </div>
    </div>
  </div>
</div>
