<div class="easy-steps">
  <div class="steps-wrap">
    <div class="step-screens">
      <img class="app-screens-bg" alt="Wallet" src="/assets/images/iphone/ellipse.png"/>
      <img class="app-screens" alt="App Screens"
           src="/assets/images/iphone/screenshots.png"
           srcset="
               /assets/images/iphone/screenshots.png 2x,
               /assets/images/iphone/screenshots.png 3x">
    </div>
    <div class="steps">
      <div class="steps-head">
        Unstoppable, a crypto wallet for Libertarians
      </div>
      <ul class="steps-list">
        <li>Gives Full Control</li>
        <li>Completely Private</li>
        <li>Works Everywhere</li>
        <li>Can’t Be Censored</li>
      </ul>
      <div class="steps-footer">        
        Unstoppable is <a href="https://github.com/horizontalsystems" target="_blank">open source</a>. Being build by <a href="https://horizontalsystems.io" target="_blank">gifted engineers</a>. Designed to keep your crypto safe and permanently accessible.<br><br>It's NOT the 1st, 2nd or even 3rd most used wallet around BUT the one where engineering process driven by libertarian principles. It also happens to be the most sophisticated decentralized app the web has seen yet.
      </div>
    </div>
  </div>
</div>
