<div class="easy-steps">
  <div class="steps-wrap">

    <div class="frame">
      <div class="frame-border"></div>
      <img class="frame-bg" alt="Wallet" width="608"
           src="/assets/images/iphone/frame-bg.png"
           srcset="
               /assets/images/iphone/frame-bg@2x.png 2x,
               /assets/images/iphone/frame-bg@3x.png 3x" />

      <img class="frame-screen" id="frame-balance" src="/assets/images/iphone/balance.png" alt="Balance">
      <img class="frame-screen" id="frame-transactions" src="/assets/images/iphone/transactions.png" alt="Transactions">
      <img class="frame-screen" id="frame-settings" src="/assets/images/iphone/settings.png" alt="Settings">

      <div class="tabs">
        <div class="item active" id="balance">&nbsp;</div>
        <div class="item" id="transactions"></div>
        <div class="item" id="settings">&nbsp;</div>
      </div>

    </div>

    <div class="steps">
        <p>Become Unstoppable ...</p>
      <ul>
        <li>Invest Freely</li>
        <li>Have Full Control</li>
        <li>Monitor Prices</li>
        <li>Access Anywhere</li>        
        <li>Stay Private</li>
      </ul>
      <p>
        Unstoppable is <a href="https://github.com/horizontalsystems" target="_blank">open source</a> and fully decentralized. Designed to detail and build by gifted engineers. Supports Bitcoin, Bitcoin Cash, Dash, EOS, Binance Dex and Ethereum blockchains.
      </p>

    </div>
  </div>
</div>
