
<div class="features-list">

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/reliable/reliable.png" alt="Reliable" width="118"
           srcset="
              /assets/images/featured/reliable/reliable@2x.png 2x,
              /assets/images/featured/reliable/reliable@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Be In Control</div>
      <ul class="features-list-items">
        <li>- Fully Non-Custodial</li>
        <li>- Private Keys stored on device</li>
        <li>- Can't Be Blocked/Censored</li>
        <li>- Easy Backup / Restore</li>
        <li>- Open-Source</li>
      </ul>
    </div>
  </div>

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/private/private.png" alt="Private" width="138"
           srcset="
              /assets/images/featured/private/private@2x.png 2x,
              /assets/images/featured/private/private@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Remain Private</div>
      <ul class="features-list-items">
        <li>- No Data Collection</li>
        <li>- No Accounts</li>
        <li>- No AML, No KYC</li>
        <li>- Works in P2P manner</li>
        <li>- Fully Decentralized</li>
      </ul>
    </div>
  </div>

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/detail/detail.png" alt="Designed to Datail" width="122"
           srcset="
              /assets/images/featured/detail/detail@2x.png 2x,
              /assets/images/featured/detail/detail@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Stay Up-To-Date</div>
      <ul class="features-list-items">
        <li>- Segwit enabled (for Bitcoin)</li>
        <li>- Instant Payments (for Dash)</li>
        <li>- Real-time Exchange Rates</li>
        <li>- Smart Transaction Fees</li>
        <li>- Face ID / Touch ID</li>
      </ul>
    </div>
  </div>

</div>
