
<div class="features-list">

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/reliable/reliable.png" alt="Reliable" width="118"
           srcset="
              /assets/images/featured/reliable/reliable@2x.png 2x,
              /assets/images/featured/reliable/reliable@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Secure By Design</div>
      <ul class="features-list-items">
        <li>- Non-Custodial</li>
        <li>- Censorship resistant</li>
        <li>- Easy Backup & Restore</li>
        <li>- Open Source Project</li>
      </ul>
    </div>
  </div>

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/private/private.png" alt="Private" width="138"
           srcset="
              /assets/images/featured/private/private@2x.png 2x,
              /assets/images/featured/private/private@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Privacy Focused</div>
      <ul class="features-list-items">
        <li>- Works in P2P manner</li>        
        <li>- No Accounts</li>
        <li>- No AML, No KYC</li>
        <li>- Decentralized</li>
      </ul>
    </div>
  </div>

  <div class="features-item">
    <div class="features-icon">
      <img src="/assets/images/featured/detail/detail.png" alt="Designed to Datail" width="122"
           srcset="
              /assets/images/featured/detail/detail@2x.png 2x,
              /assets/images/featured/detail/detail@3x.png 3x">
    </div>
    <div class="features-steps">
      <div class="features-title">Technologically Advanced</div>
      <ul class="features-list-items">
        <li>- Supports Major Blockchains</li>
        <li>- Simple Payment Verification (SPV)</li>
        <li>- Serverless Architecture</li>
        <li>- Smart Transaction Fees</li>
      </ul>
    </div>
  </div>

</div>
