
<header role="banner">
  <div class="astronaut"></div>

  <div class="container">
    <div class="navbar">
      <div class="navbar-item">Home</div>
      <div class="navbar-item">Features</div>
      <div class="navbar-item">Help</div>
      <div class="navbar-item">GitHub</div>
    </div>

    <div class="banner">
      <div class="banner-logo">
        <a href="/">
          <img alt={{site.title}} width="64"
               src="/assets/images/logo.png"
               srcset="
                   /assets/images/logo@2x.png 2x,
                   /assets/images/logo@3x.png 3x" /></a>
      </div>
      <div class="banner-menu">
        <nav role="navigation">
          <ul class="navbar-nav">
<!--
            <li class="nav-item with-dropdown">
              <a href="#" class="nav-link">
                {{site.langNames[page.lang]}}
              </a>

              <ul class="nav-dropdown">
                {% for lang in site.languages %}
                  {% if lang != page.lang %}
                    <li class="nav-dropdown-item">
                      <a href="/{% if lang != 'en' %}lang/{{lang}}{% endif %}">
                        {{site.langNames[lang]}}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
-->
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>
