@import "variables";
@import "mixins";

.easy-steps {
  position: relative;
  overflow: hidden;

  .steps-wrap {
    display: flex;
    flex-direction: row;

    @include small {
      flex-direction: column-reverse;
    }
  }

  .step-screens {
    flex-grow: 2;
    align-self: center;

    .app-screens {
      width: 100px;

      @include large {
        width: 450px;
      }

      @include medium {
        width: 350px;
      }

      @include small {
        display: none;
      }
    }
  }

  .steps {
    padding: 10% 0 10% 10%;
    flex-grow: 3;

    .steps-head {
      font-weight: 800;
      font-size: 36px;
      color: $white;
    }

    .steps-footer, a {
      font-weight: normal;
      font-size: 17px;
      color: $grey-light;
    }

    ul {
      padding-left: 25px;
      color: $yellow;
    }

    li {
      position: relative;
      font-weight: 800;
      font-size: 24px;
      padding: 10px 0;
    }

    @include medium {
      padding-left: 5%;

      li {
        font-size: 18px;
      }

      .steps-head {
        font-size: 24px;
      }
    }

    @include small {
      padding-bottom: 15%;
      padding-left: 0;

      li {
        font-size: 18px;
      }

      .steps-head {
        font-size: 24px;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
