@import "variables";
@import "mixins";

.easy-steps {
  padding: 10% 0;

  .steps-wrap {
    display: flex;
    flex-direction: row;

    @include small {
      flex-direction: column-reverse;
    }
  }

  .frame {
    position: relative;
    align-self: center;

    .frame-border {
      width: 323px;
      height: 680px;
      z-index: 1;
    }

    .frame-bg {
      top: 13%;
      left: -44%;
      position: absolute;
      z-index: -1;

      @include small {
        top: 13%;
        left: -29%;
        width: 500px;
      }
    }

    .frame-screen {
      position: absolute;
      width: 323px;
      top: 0;
      left: 0;
      z-index: -1;
      display: none;
    }

    #frame-balance {
      display: block;
    }

    .tabs {
      position: absolute;
      bottom: 0;
      display: flex;

      .item {
        position: relative;
        width: 107px;
        height: 50px;
        cursor: pointer;
      }
    }

  }

  .steps {
    padding-left: 10%;

    @include small {
      padding-bottom: 15%;
    }

    ul {
      padding-left: 25px;
    }

    li {
      position: relative;
      color: $white-soft;
      font-weight: bold;
      padding: 10px 0;

      @include large {
        font-size: 24px;
      }

      @include medium {
        font-size: 20px;
      }

      @include small {
        font-size: 18px;
      }
    }
  }

  h3 {
    margin-top: 1rem;
    color: $dark;
  }

  p {
    color: $silver;
    font-size: 20px;
  }
}
