@import "variables";
@import "mixins";

.easy-steps-container {
  background: radial-gradient(75.9% 384.26% at 24.1% 100%, #FFD000 0%, #FFA800 30%);
}

.easy-steps {
  position: relative;
  max-height: 615px;
  overflow: hidden;

  @include medium {
    max-height: 545px;
  }

  .steps-wrap {
    display: flex;
    flex-direction: row;

    @include small {
      flex-direction: column-reverse;
    }
  }

  .step-screens {
    flex-grow: 2;

    .app-screens {
      width: 100px;

      @include large {
        width: 450px;
      }

      @include medium {
        width: 400px;
      }

      @include small {
        display: none;
      }
    }

    .app-screens-bg {
      left: -8%;
      position: absolute;
      z-index: -1;

      @include small {
        display: none;
      }
    }
  }

  .steps {
    padding: 10% 0;
    padding-left: 10%;
    flex-grow: 3;

    .steps-head {
      font-weight: 800;
      font-size: 36px;
      color: $white;
    }

    .steps-footer, a {
      font-weight: normal;
      font-size: 17px;
      color: $dark;
    }

    ul {
      padding-left: 25px;
    }

    li {
      position: relative;
      color: #13151A;
      font-weight: 800;
      font-size: 24px;
      padding: 10px 0;
    }

    @include medium {
      li {
        font-size: 18px;
      }
      .steps-head {
        font-size: 24px;
      }
    }

    @include small {
      padding-bottom: 15%;
      padding-left: 0;

      li {
        font-size: 18px;
      }

      .steps-head {
        font-size: 24px;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
