@import "variables";
@import "mixins";
@import "easy-steps";
@import "nav";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $silver;
  background: $dark
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include large {
    max-width: 900px;
  }

  @include medium {
    max-width: 650px;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {

  .banner {
    display: flex;
    height: 280px;
    justify-content: center;
    align-items: center;

    @include small {
      padding: 2rem 1rem;
    }
  }

  .banner-logo {
    display: flex;
    flex-grow: 1;
  }

  .banner-name {
    color: $white;
    font-size: 80px;
    font-weight: 800;
    line-height: 1.1em;

    @include medium {
      font-size: 60px;
    }

    @include small {
      font-size: 48px;
    }
  }

  .banner-desc {
    color: $grey;
    font-size: 18px;
  }

  .banner-bottom {
    display: flex;
    width: 100%;
    z-index: 1;

    height: 194px;
    background-image: url("/assets/images/header-background/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include small {
      padding: 2rem 1rem;
    }
  }
}

main {
  word-wrap: break-word;

  @include large {
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  @include medium {
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .main-content {

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white-soft;
    font-weight: 800;
  }

  p {
    margin-bottom: 1em;
  }

}

.slogan {
  text-align: center;
  font-weight: 800;
  color: $white-soft;

  @include large {
    font-size: 50px;
  }

  @include medium {
    font-size: 45px;
  }

  @include small {
    font-size: 35px;
  }
}

.download-apps {
  padding-top: 20px;
  text-align: center;

  a {
    padding-left: 15px;
  }

  img {
    background-color: #2e323c;
    margin: 5px 0;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(115, 121, 140, 0.2);
  margin: 1em 0;
  padding: 0;
}

footer {
  padding: 2rem 0 3rem 0;
  text-align: center;
  margin-left: 0;
  color: $grey;
}
