@import "variables";
@import "mixins";
@import "easy-steps";
@import "nav";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $silver;
  background: $dark
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include large {
    max-width: 900px;
  }

  @include medium {
    max-width: 650px;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {

  .banner {
    display: flex;
    height: 270px;
    justify-content: center;
    align-items: flex-end;

    @include small {
      padding: 2rem 1rem;
    }
  }

  .banner-logo {
    display: flex;
    flex-grow: 1;

    @include small {
      flex-grow: unset;
    }
  }

  .banner-desc {
    color: $grey;
    font-size: 18px;
  }

  .earth {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-image: url("/assets/images/planet.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    z-index: -2;

    @include medium {
      background-position-x: center;
    }

    @include small {
      background-position-x: center;
      top: -30%;
    }
  }

  .astronaut {
    position: absolute;
    top: 25px;
    right: 15%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/images/astronaut.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;

    @include medium {
      background-position-x: center;
      right: 0;
    }

    @include small {
      display: none;
    }
  }
}

main {
  word-wrap: break-word;

  @include large {
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  @include medium {
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .main-content {
    width: 57%;
    font-size: 32px;
    line-height: 1.1;
    padding-bottom: 15%;
    color: $white;
    font-weight: 700;

    @include medium {
      width: 100%;
    }

    @include small {
      width: 100%;
    }

    .github-link {
      display: flex;
      padding-top: 30px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;

      img {
        margin-right: 20px;
      }
    }
  }

  .features-list {
    display: flex;
    padding: 40px 0;
    font-size: 20px;
    flex-direction: column;
    align-items: center;

    ul {
      padding-left: 20px;
    }

    .features-item {
      display: flex;
      width: 560px;
      margin: 20px 0;
      padding: 40px 0;
      border-radius: 32px;
      background-image: linear-gradient(to top, $steel-10, $steel-20);

      @include small {
        width: 70%;
        flex-direction: column;
      }
    }

    .features-title {
      font-size: 32px;
      color: $white-soft;
      font-weight: 700;

      @include small {
        font-size: 24px;
      }
    }

    .features-icon {
      flex: 2;
      align-self: center;
      display: flex;
      justify-content: center;
    }

    .features-steps {
      flex: 3;

      @include small {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        align-items: center;
        font-size: 14px;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white-soft;
    font-weight: 800;
  }

  p {
    margin-bottom: 1em;
  }

}

.slogan {
  text-align: center;
  font-weight: 800;
  color: $white-soft;

  @include large {
    font-size: 32px;
  }

  @include medium {
    font-size: 28px;
  }

  @include small {
    font-size: 18px;
  }
}

.download-apps {
  padding-top: 20px;
  text-align: center;

  a {
    padding-left: 15px;
  }

  img {
    background-color: $steel-bg;
    margin: 5px 0;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $steel-20;
  margin: 1em 0;
  padding: 0;
}

footer {
  padding: 2rem 0 3rem 0;
  text-align: center;
  margin-left: 0;
  color: $grey;
}
