@import "variables";
@import "mixins";
@import "easy-steps";
@import "nav";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $grey-light;
  background: $dark
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;

  @include large {
    max-width: 992px;
  }

  @include medium {
    max-width: 768px;
  }

  @include small {
    max-width: 576px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

a {
  color: $grey-light;
  text-decoration: none;

  &:hover {
    color: darken($grey-light, 15%);
    text-decoration: underline;
  }
}

header {

  .banner {
    display: flex;
    height: 270px;
    align-items: flex-end;

    @include small {
      height: 150px;
    }
  }

  .banner-logo {
    display: flex;
    flex-grow: 1;

    @include small {
      flex-grow: unset;
    }
  }

  .astronaut {
    position: absolute;
    top: 90px;
    right: 15%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/images/astronaut.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;

    @include medium {
      background-position-x: center;
      right: 0;
    }

    @include small {
      display: none;
    }
  }
}

main {

  @include large {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  @include medium {
    font-size: 1.2rem;
  }

  @include small {
    font-size: 1rem;
  }

  .main-content {
    line-height: 23px;
    font-size: 17px;
    padding-bottom: 15%;
    color: $white;
    font-weight: normal;

    @include medium {
      width: 100%;
    }

    @include small {
      width: 100%;
    }

    .github-link {
      display: flex;
      padding-top: 30px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      text-decoration: underline;

      img {
        margin-right: 20px;
      }
    }
  }

  .features-list {
    display: flex;
    padding: 130px 0;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;

    @include small {
      flex-direction: column;
      padding-bottom: 40px;
    }

    .features-item {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include small {
        padding-bottom: 40px;
      }
    }

    .features-title {
      font-size: 22px;
      color: $white-soft;
      font-weight: 700;
      text-align: center;

      @include small {
        font-size: 24px;
      }
    }

    .features-list-items {
      font-size: 17px;
      color: #808085;
      padding: 0;
      list-style: none;
    }

    .features-icon {
      align-self: center;
      display: flex;
      height: 160px;
      align-items: center;
      padding-bottom: 24px;
    }
  }

  .currencies {
    font-size: 15px;
    padding: 55px 0;
    color: $white-soft;
    display: flex;

    .currency-list-title {
      font-weight: 800;
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 40px;

      @include small {
        font-size: 24px;
      }
    }

    img {
      width: 70%;
    }

    .currency-count {
      flex-direction: column;
      min-width: 350px;
    }

    .currency-list {
      padding-left: 40px;
    }

    @include small {
      flex-direction: column;

      .currency-list {
        padding: 0;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        flex: 1 0 30%;
        box-sizing: border-box;

        @include medium {
          flex: 1 0 50%;
        }

        @include small {
          flex: 1 0 100%;
        }
      }

      span {
        color: #808085;
      }
    }
  }

  .partnerships {
    padding: 40px 0;

    .partnerships-title {
      padding-bottom: 76px;
      font-weight: 800;
      font-size: 36px;
      color: $white-soft;

      @include small {
        font-size: 24px;
      }
    }

    .partners {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include small {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white-soft;
    font-weight: 800;
  }

  p {
    margin-bottom: 1em;
  }
}

.download-apps {
  padding-top: 44px;

  a {
    padding-right: 15px;
  }

  img {
    margin: 5px 0;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $steel-20;
  margin: 1em 0;
  padding: 0;
}

footer {
  padding: 2rem 0 3rem 0;
  text-align: center;
  margin-left: 0;
  color: $grey;

  .slogan {
    padding-top: 48px;
    font-weight: 800;
    color: $white-soft;
    font-size: 38px;
  }

  .bottom-menu {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      padding: 0 20px;
    }
  }
}
