// Media Query Ranges
$screen-md: 42em !default;
$screen-lg: 64em !default;

// Colors
$white: #FFFFFF !default;
$white-soft: #F9F9F9 !default;
$black: #000000 !default;
$dark: #1F2129 !default;
$dark-secondary: #2B2D37 !default;
$yellow: #FFAD00 !default;
$grey: #8A8A8F !default;
$grey-lighter: rgba(115, 121, 140, 0.2);
$grey-light: #C8C7CC !default;
$green: #1EBF6B !default;
$silver: #C8C7CC !default;
