@import "../../scss/utils";

.currencies {
  font-size: 15px;
  padding-top: 60px + 40px;
  padding-bottom: 40px;
  color: $white;
  display: flex;
  align-items: center;

  .currency-info {
    padding-left: 80px;
  }

  .currencies-title {
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 40px;
    color: #F5F5F5;

    @include sm {
      font-size: 24px;
    }
  }

  .currencies-info {
    font-size: 17px;
    line-height: 24px;
    color: #808085;
  }

  @include sm {
    flex-direction: column;
    padding: 60px 0;

    .currency-count {
      width: 300px;
      margin-bottom: 60px;
    }

    .currency-info {
      padding-left: 0;
    }
  }

  @include md {
    .currency-count {
      width: 250px;
    }
  }
}

.supported-coins {
  color: white;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;

  div {
    padding-right: 10px;
  }

  span {
    color: #808085;
  }
}
