@import "../../scss/utils";

.Card {
  padding: 30px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background: $dark;
  margin: 0 12px;
}

.Card-number {
  position: absolute;
  left: -15px;
  top: 0;
  height: 90px;

  @include md {
    left: -5px;
    height: 126px;
  }
}

.Card-title {
  padding-top: 142px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #FFFFFF;
  z-index: 1;

  @include md {
    font-size: 40px;
  }

  @include xxl {
    padding-top: 172px;
    font-size: 52px;
  }
}

.Card-info {
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
  z-index: 1;

  @include md {
    font-size: 18px;
  }

  @include xxl {
    font-size: 24px;
  }
}

.Card-info--grey {
  color: $grey;
}

.Card-info--white {
  color: $white;
}

.Card-info--dark {
  color: $dark;
}
