@import "~normalize.css";
@import 'bootstrap';

// Background

.bg-steel-10 {
  background: $steel-10;
}

.bg-steel-20 {
  background: $steel-20;
}

// Card

.card-regular {
  height: 100%;
  max-height: 374px;
}

.card-big {
  height: 100%;
  max-height: 500px;
}

// Images

.Multiwallet-img {
  width: 100px;

  @include media-breakpoint-up(sm) {
    width: 150px;
  }

  @include media-breakpoint-up(md) {
    width: 206px;
  }
}

.Multiwallet-img-bg {
  width: 130px;

  @include media-breakpoint-up(sm) {
    width: 180px;
  }

  @include media-breakpoint-up(md) {
    width: 246px;
  }
}

.rounded-24 {
  border-radius: 24px !important;
}

// backgrounds
