@import "../../scss/utils";
@import "./Input";

.Contact-success {
  margin: auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px 26px;
  position: relative;

  @include sm {
    min-width: auto;
  }

  @include md {
    width: 424px;
  }
}

.close-form {
  position: absolute;
  right: -3px;
  top: 5px;
}

.Contact-form-group {
  display: flex;
  justify-content: space-between;

  input, textarea, button {
    margin: 16px 10px;

    @include sm {
      margin: 16px 0;
    }
  }

  @include sm {
    display: block;
  }
}

.Contact-form-info {
  font-size: 18px;
  line-height: 23px;
  color: $grey;
  margin: 16px 10px;
}

.Contact-success {
  display: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;

  .done {
    display: flex;
    justify-content: center;
  }

  .done-text {
    padding-top: 18px;
    font-size: 18px;
    line-height: 23px;
  }
}

.Contact-success-footer {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.Contact-success-img {
  width: 16px;
  margin-top: 3px;
  margin-right: 12px;
}

.Button-submit {
  background: $grey;
  color: $dark;

  &:enabled:hover {
    background: lighten($yellow-d, 2%);
  }

  &.loading {
    display: none;
  }

  @include sm {
    width: 100%;
    text-align: center;
  }
}

.Subscribe-checkbox-wrap {
  display: flex;
  align-items: center;
  margin: 5px 10px 18px;
  width: 100%;

  .Contact-checkbox-description {
    padding-left: 28px;
    font-size: 14px;
    line-height: 18px;
    color: $grey;

    @include sm {
      font-size: 14px;
      line-height: 18px;
    }
  }

  a {
    color: $grey;
    text-decoration: underline;
  }

  @include sm {
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
}
