@import "../../scss/utils";

.Contact-form {
  min-width: 700px;
}

.Contact-success {
  display: none;
  text-align: center;

  h4 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }
}

input, textarea, .btn {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  margin: 16px 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

input, textarea {
  border: 1px solid $grey-light;
  padding: 15px 24px;
  width: 100%;
}
