@import "../../scss/utils";

.Header {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 2;
  transition: all .5s ease-in;
}

.Header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  animation: moveDown 0.2s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.Header-logo {
  height: 54px;
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 0 -20px;

  a {
    text-decoration: none;
  }

  .nav-item {
    height: 32px;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $grey;

    &:hover {
      color: $yellow-d;
    }
  }

  .ml-20 {
    margin-left: 20px;
  }

  .nav-btn-item {
    margin-right: 20px;

    @include sm {
      display: none;
    }
  }

  @include sm {
    display: none;
  }
}

.hide-on-mobile {
  @include sm {
    display: none !important;
  }
}

.Menu-wrap {
  z-index: 2;
  display: none;
  cursor: pointer;

  @include sm {
    display: block;
  }
}

.Menu-close {
  display: none;
}

.navbar-dropdown {
  display: none;
  position: absolute;
  background: $dark;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  top: 0;
  z-index: 1;

  .nav {
    display: block;
    text-align: center;
  }

  .nav-item {
    padding: 20px 0;
    display: block;
  }
}

.nav-logo {
  display: flex;
  justify-content: center;
  padding-top: 30%;

  path {
    fill: $dark-steal;
  }
}
