@import "../../scss/utils";

.Features {
  display: flex;
  padding: 130px 40px;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include sm {
      padding-bottom: 40px;
    }
  }

  .features-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #F5F5F5;

    @include sm {
      font-size: 24px;
    }
  }

  .features-list-items {
    font-size: 17px;
    color: #808085;
    padding: 0;
    list-style: none;

    li {
      padding: 3px 0;
    }
  }

  .feature-icon {
    align-self: center;
    display: flex;
    height: 160px;
    align-items: center;
    padding-bottom: 24px;
  }
}
