@import "../../scss/utils";

.Footer {
  height: 80px;
}

.footer-block {
  display: flex;
  padding: 50px 50px 70px;
  justify-content: space-around;

  .bottom-menu {
    padding: 10px 0;
    display: flex;
    color: $gray-light;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }

  a {
    color: $gray-light;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-menu-title {
    color: $gray-light;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
  }

  img, svg {
    padding-right: 10px;
  }

  @include sm {
    flex-direction: column;

    .footer-menu {
      //padding-left: 20%;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}
