@import "../../scss/utils";

.Section-join {
  padding-bottom: 10px;

  @include md {
    padding-bottom: 70px;
  }

  @include lg {
    padding-bottom: 110px;
  }
}

.Join-section-text,
.Join-section-info {
  text-align: right;
  width: 90%;

  @include sm {
    text-align: center;
  }
}

.Join-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include xxl {
    width: 80%;
    align-self: center;
  }
}

.Join-icon {
  padding: 15px;

  @include sm {
    padding: 7px;
  }
}

.Join-image {
  width: 70px;
  transition: transform .4s ease-in-out;

  @include md {
    width: 120px;
  }

  @include xxl {
    width: 160px;
  }

  &:hover {
    transform: scale(1.1);
    //transform: rotate(360deg);
  }
}
