<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="application/javascript" src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    {% assign lang=site.lang[page.lang] %}
    {% assign head_md = 'lang/' | append: page.lang | append: '/head.md' %}
    {% assign content_md = 'lang/' | append: page.lang | append: '/content.md' %}

    {% include header.html %}

    <main role="main">
      <div class="container">
        {% capture head_capture %}
          {% include {{head_md}} %}
        {% endcapture %}

        {{ head_capture | markdownify }}

        <div class="easy-steps">
          <div class="steps-wrap">
            <div class="frame">
              <img class="frame-border" alt="Wallet" width="259"
                   src="/assets/images/iphone/xframe.png"
                   srcset="
                     /assets/images/iphone/xframe@2x.png 2x,
                     /assets/images/iphone/xframe@3x.png 3x" />

              <img class="frame-screen" id="frame-balance" src="/assets/images/iphone/en/balance.png" alt="Balance">
              <img class="frame-screen" id="frame-transactions" src="/assets/images/iphone/en/transactions.png" alt="Transactions">
              <img class="frame-screen" id="frame-settings" src="/assets/images/iphone/en/settings.png" alt="Settings">

              <div id="step-left" class="step-controls">
                {% include arrow-left.html size=36 %}
              </div>

              <div id="step-right" class="step-controls">
                {% include arrow-right.html size=36 %}
              </div>
            </div>

            <div class="steps">
              <ul>
                <li class="item active" id="balance">
                  <h4>{{ lang.balance }}</h4>
                  <p>{{ lang.balance_desc }}</p>
                  <div class="list-style"></div>
                </li>
                <li class="item" id="transactions">
                  <h4>{{ lang.transactions }}</h4>
                  <p>{{ lang.transactions_desc }}</p>
                  <div class="list-style"></div>
                </li>
                <li class="item" id="settings">
                  <h4>{{ lang.settings }}</h4>
                  <p>{{ lang.settings_desc }}</p>
                  <div class="list-style"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        {% capture content_capture %}
          {% include {{content_md}} %}
        {% endcapture %}

        {{ content_capture | markdownify }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
