<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="application/javascript" src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>

  <body>
    {% include header.html menu=page.active %}

    <main role="main">
      <div class="container">
        {{ content }}

        <div class="easy-steps">
          <div class="steps-wrap">
            <div class="frame">
              <img class="frame-border" alt="Wallet" width="259"
                   src="/assets/images/iphone/xframe.png"
                   srcset="
                     /assets/images/iphone/xframe@2x.png 2x,
                     /assets/images/iphone/xframe@3x.png 3x" />

              <img class="frame-screen" id="frame-balance" src="/assets/images/iphone/en/balance.png" alt="Balance">
              <img class="frame-screen" id="frame-transactions" src="/assets/images/iphone/en/transactions.png" alt="Transactions">
              <img class="frame-screen" id="frame-settings" src="/assets/images/iphone/en/settings.png" alt="Settings">
            </div>
            <div class="steps">
              <ul>
                <li class="item active" id="balance">
                  <h4>Easy to use</h4>
                  <p>Every currencies balances is at hand. Send money in two clicks. Easy adress sharing</p>
                  <div class="list-style"></div>
                </li>
                <li class="item" id="transactions">
                  <h4>Transactions History</h4>
                  <p>Transaction history in one list. Quick view of full information from customizable resources</p>
                  <div class="list-style"></div>
                </li>
                <li class="item" id="settings">
                  <h4>Personalization</h4>
                  <p>
                    Set the appearance of the application for yourself, configure data resources, select the language,
                    light or dark mode
                  </p>
                  <div class="list-style"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="advantages">
          <div class="advantage">
            <img src="/assets/images/cat/group-11.png" alt="Decentralized">
            <h4>Decentralized</h4>
          </div>
          <div class="advantage">
            <img src="/assets/images/cat/group-12.png" alt="Open Source">
            <h4>Open Source</h4>
          </div>
          <div class="advantage">
            <img src="/assets/images/cat/group-13.png" alt="Secure">
            <h4>Secure</h4>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
