<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unstoppable Wallet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="application/javascript" src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    {% assign lang=site.lang[page.lang] %}
    {% assign content_md = 'content/content-' | append: page.lang | append: '.md' %}

    {% include header.html lang=lang %}

    <main role="main">
      <div class="container">
        <div class="main-content">
          <h2>Be Free</h2>
          <h2>Be Unstoppable</h2>

          We dream of a world where markets are borderless... <br>
          That led us to engineer a blockchain wallet that works without borders.

          <br />
          <div class="github-link">
            <a href="https://horizontalsystems.io">Horizontal Systems</a>
          </div>

          {% include download-apps.html %}
        </div>
      </div>

      <div class="easy-steps-container">
        <div class="container">
          {% include easy-steps.html %}
        </div>
      </div>

      <div class="container">
        {% include features-list.html %}
        <hr>
      </div>

      <div class="container">
        {% include currency-list.html %}
        <hr>
      </div>

      <div class="container">
        <div class="partnerships">
          <div class="partnerships-title">Partnerships</div>

          <div class="partners">
            <div><a href=""><img alt="MakeUseOf" src="/assets/images/muo.png" width="75"/></a></div>
            <div><a href=""><img alt="BlockDecoded" src="/assets/images/blocksdecoded.png" width="300"/></a></div>
            <div><a href=""><img alt="DecentralizedTV" src="/assets/images/decentralized-tv.png" width="216"/></a></div>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html slogan=lang.slogan %}
  </body>
</html>
