@import "~normalize.css";
@import "./scss/utils";

body {
  font-family: $font-family-base;
  font-size: 62.6%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: $black !important;
  color: $white !important;
}

// Typographic
.color-yellow {
  color: $yellow-d;
}

.text-grey {
  color: $grey !important;
}

.text-steel-light {
  color: $steel_light !important;
}

.card-rounded {
  border-radius: 16px !important;
}

// Background
.bg-steel-10 {
  background-color: $steel_10 !important;
}

.bg-steel-20 {
  background-color: $steel_20 !important;
}

// height
.md-h-100 {
  @include md {
    height: 100% !important;
  }
}
