/*
 * Typography
 * ======================================================================== */

$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;

/*
 * Colors
 * ======================================================================== */

$white:       #ffffff !default;
$white-50:    rgba(255, 255, 255, 0.5) !default;
$light:       #F5F5F5 !default;
$light-steal: #EBEBF0 !default;
$black:       #000000 !default;
$black-50:    rgba(0, 0, 0, 0.5) !default;
$dark:        #13151A !default;
$dark-steal:  #252933 !default;
$blue:        #0d6efd !default;
$grey:        #808085 !default;
$grey-light:  #C8C7CC !default;
$green:       #05C46B !default;
$yellow:      #FFA800 !default;

:export {
  white:        $white;
  white-50:     $white-50;
  light:        $light;
  light-steal:  $light-steal;
  black:        $black;
  black-50:     $black-50;
  dark:         $dark;
  dark-steal:   $dark-steal;
  blue:         $blue;
  grey:         $grey;
  grey-light:   $grey-light;
  green:        $green;
  yellow:       $yellow;
}

/*
 * Layout
 * ======================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ======================================================================== */

$screen-sm: 576px  !default;
$screen-md: 768px  !default;
$screen-lg: 992px  !default;
$screen-xl: 1200px !default;

@mixin sm { @media (max-width: $screen-md) { @content; } }
@mixin md { @media (min-width: $screen-md) { @content; } }
@mixin lg { @media (min-width: $screen-lg) { @content; } }
@mixin xl { @media (min-width: $screen-xl) { @content; } }
