/*
 * Typography
 * ======================================================================== */

$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;

/*
 * Colors
 * ======================================================================== */

$white:       #ffffff !default;
$light:       #F5F5F5 !default;
$black:       #000000 !default;
$dark:        #13151A !default;
$blue:        #0d6efd !default;
$grey:        #808085 !default;
$gray-light:  #C8C7CC !default;
$remus:       #05C46B !default;
$yellow:      #FFA800 !default;

/*
 * Layout
 * ======================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ======================================================================== */

$screen-sm: 576px  !default;
$screen-md: 768px  !default;
$screen-lg: 992px  !default;
$screen-xl: 1200px !default;

@mixin sm { @media (max-width: $screen-md) { @content; } }
@mixin md { @media (min-width: $screen-md) { @content; } }
@mixin lg { @media (min-width: $screen-lg) { @content; } }
@mixin xl { @media (min-width: $screen-xl) { @content; } }
