/*
 * Typography
 * ======================================================================== */

$font-family-base: 'Noto Sans', sans-serif;

/*
 * Colors
 * ======================================================================== */

$white:       #ffffff !default;
$white-50:    rgba(255, 255, 255, 0.5) !default;
$light:       #F5F5F5 !default;
$light-steal: #EBEBF0 !default;
$light-soft:  #E1E1E5 !default;
$black:       #000000 !default;
$black-50:    rgba(0, 0, 0, 0.5) !default;
$dark:        #13151A !default;
$dark-steal:  #252933 !default;
$dark-soft:   #292B2D !default;
$dark-light:  #37393B !default;
$darkest:     #0f1014 !default;
$blue:        #0d6efd !default;
$grey:        #808085 !default;
$grey-light:  #C8C7CC !default;
$green:       #05C46B !default;
$yellow-d:    #F58400 !default;
$yellow-l:    #FFA800 !default;
$yellow:      $yellow-l;
/*
 * Layout
 * ======================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ======================================================================== */

$screen-sm: 576px  !default;
$screen-md: 768px  !default;
$screen-lg: 992px  !default;
$screen-xl: 1200px !default;
$screen-xxl: 1441px !default;

@mixin sm { @media (max-width: $screen-md) { @content; } }
@mixin md { @media (min-width: $screen-md) { @content; } }
@mixin lg { @media (min-width: $screen-lg) { @content; } }
@mixin xl { @media (min-width: $screen-xl) { @content; } }
@mixin xxl { @media (min-width: $screen-xxl) { @content; } }
