@import "../../scss/utils";

.CookieConsent-Container {
  height: 100%;
}

.CookieConsent {
  background: $darkest;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;

  @include sm {
    height: auto;
    padding: 20px 0;
  }
}

.CookieConsent-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
  }

  a {
    color: $yellow-d;
  }
}

.CookieConsent-text {
  font-size: 18px;
  line-height: 23px;
  color: $grey;
  font-weight: 400;
  font-family: $font-family-base;
}

.CookieConsent-action {
  display: flex;

  @include sm {
    padding-top: 30px;
    align-self: flex-end;
  }
}

.CookieConsent-accept {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: $yellow-d;

  @include sm {
    font-weight: 600;
  }
}

.CookieConsent-close {
  padding-left: 40px;

  img {
    cursor: pointer;
  }
}
