@import "../../scss/utils";

.Banner {
  margin-top: 40px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {
    flex-direction: column-reverse;
    align-items: normal;

    .banner-info {
      margin-top: 40px;
    }
  }

  @include md {
    height: 280px;
  }

  @include lg {
    height: 460px;
  }
}

.banner-info {
  width: 45%;
}

.banner-image {
}

.banner-title {
  font-weight: 800;
  font-size: 54px;
  color: $yellow;

  @include sm {
    font-size: 30px;
  }

  @include md {
    font-size: 35px;
  }
}

.banner-desc {
  font-size: 17px;
  color: #C8C7CC;
  padding-top: 20px;

  @include sm {
    font-size: 15px;
  }
}

.banner-bottom {
  display: flex;
  color: $gray-light;
  justify-content: space-between;

  a {
    text-decoration: none;
    padding-top: 40px;
    padding-right: 15px;
  }

  @include sm {
    flex-wrap: wrap;
    padding-top: 40px;

    a {
      padding-top: 10px;
      padding-right: 5px;
    }
  }
}

.banner-astronaut {
  max-height: 450px;
  max-width: 600px;
  width: 100%;
}